/**
   border 2px solid red
   padding 10px
   margin 10px*/

body
   font-family 'Allerta',sans-serif
   margin 0

table
   width 100%
   border 1px solid #273b47
   border-collapse collapse
   margin 60PX 0 60PX 0

   th
      background #273b47
      color white
      padding 10px 0 10px 20px
      border 1px solid #273b47
      text-align left

   td
      padding 20px
      border 1px solid #273b47

.contenedor
   width 800px
   margin auto
   position relative

.background
   background-image url('../images/background.png')
   background-size cover

.titulo
   font-size 70px
   font-family 'Montserrat',sans-serif
   margin-bottom 0
   margin-top 70px

.title-a
   font-size 24px
   font-family 'Montserrat',sans-serif
   margin-top 0
   margin-bottom 20px

.guitarras
   color #1f313c
   font-family 'Allerta',sans-serif
   margin-bottom 60px

   h2
      font-size 35px

.title-b
   font-size 50px
   margin-bottom 20px

.portada
   color white
   padding 20px
   height 500px

.button
   margin-bottom 70px
   color white
   border none
   padding 7px 12px 7px 12px
   border-radius 12px
   background #fd324e
   font-size 18px
   background linear-gradient(to left,#fe344e,#ff7250)
   cursor pointer

.menu
   font-size 24px
   display inline-block
   position absolute
   right 0

   a
      color white
      text-decoration none

   li
      display inline-block
      margin-left 30px

   li:before
      content '•'
      font-size 35px
      line-height 20px
      color white

.logotipo
   display inline-block
   margin-left 0

.header
   position relative

.guitarra
   margin 10px 10px 30px 10px
   padding 10px
   border 1px solid #1f313c
   border-radius 8px

   ol
      padding 0

   .contenedor-guitarra-a
      padding-left 20px

   .contenedor-guitarra-b
      margin-left 370px
      position relative
      bottom 100px

.b
   height 190px

.right
   float right
   position relative
   top -127px

.left
   float left
   position relative

.footer
   background #273b47
   padding 50px 10px 10px 10px

   .contenedor
      display flex
      justify-content space-between

   .contacto
      display flex
      width 300px
      align-items center
      flex-wrap wrap
      height 200px

      strong
         display block
      img
         display block
      a
         color white
         text-decoration none
         margin 10px 10px 10px 0
   .col1
      display flex
      flex-direction column
      margin-right 15px

   .col2
      display flex
      flex-direction column
      align-items flex-start

      .button
         margin-top 15px

   .formulario
      display flex
      width 400px
      color white

      label
         margin-bottom 10px

      input,textarea
         outline 0

      input:focus,textarea:focus
         background lightgray
.intereses
   margin-bottom 10px
   label
      font-size 12px
.sexo
   margin-bottom 10px
   margin-top 10px
