/**
   border 2px solid red
   padding 10px
   margin 10px*/

body
   font-family 'Allerta',sans-serif
   margin 0

.titulo
   font-size 70px
   font-family 'Montserrat',sans-serif
   margin-bottom 0
   margin-top 70px

.title-a
   font-size 24px
   font-family 'Montserrat',sans-serif
   margin-top 0
   margin-bottom 70px

.guitarras
   color #1f313c
   font-family 'Allerta',sans-serif

   h2
      font-size 35px

.title-b
   font-size 50px
   margin-bottom 20px

.portada
   background-image url('../images/background.png')
   color white
   padding 20px

.button
   margin-bottom 70px
   color white
   border none
   padding 7px
   border-radius 8px
   background #fd324e

.menu
   font-size 24px
   display inline-block
   position absolute
   right 0

   li
      display inline-block
      margin-left 30px

.logotipo
   display inline-block

.header
   position relative

.contenedor
   width 800px
   margin auto

.guitarra
   margin 10px
   padding 10px
   border 1px solid #1f313c
   border-radius 8px

   ol
      padding 0

   .contenedor-guitarra-a
      padding-left 20px

   .contenedor-guitarra-b
      margin-left 370px


.right
   float right
   position relative
   top -127px

.left
   float left
   position relative
   top 80px

.footer
   background #273b47

   .contenedor
      display flex
      justify-content space-between

   .contacto
      display flex
      width 300px
      align-items center
      flex-wrap wrap

      strong
         display block
      img
         display block
      a
         color white
         text-decoration none
         margin 10px 10px 10px 0
   .col1
      display flex
      flex-direction column
      margin-right 15px

   .col2
      display flex
      flex-direction column
      align-items flex-start

   .formulario
      display flex
      width 400px
      color white
      padding 50px 10px 10px 10px

      label
         margin-bottom 10px
.intereses
   margin-bottom 10px
   label
      font-size 12px
.sexo
   margin-bottom 10px
   margin-top 10px

table
   width 100%
   border 1px solid #273b47
   border-collapse collapse

   th
      background #273b47
      color white
      padding 10px 0 0 20px
      border 1px solid #273b47
      text-align left

   td
      padding 20px
      border 1px solid #273b47
